# Use scratch directory for transient work
scratch/*

# Only include the example inventories
inventory/*
!inventory/ex_vagrant_inv
!inventory/ex_umich_inv

# Vagrant accesories
.vagrant/*
*.retry

# Ignore Vim files
*.sess
*.swp
*.swa

