# Use scratch directory for transient work
scratch/*

# directory shared with puppet server VM
vmshared/*

# Only include the example inventory 
inventory/*
!inventory/ex_vagrant_inv
!inventory/ex_umich_inv

# Vagrant accesories
.vagrant/*
*.retry

# Ignore Vim files
*.sess
*.swp
*.swa

