node default {

}

### The puppet server node

node 'puppet.umdl.umich.edu' {
  class { 'puppetdb': }
  class { 'puppetdb::master::config': 
             puppetdb_server => 'puppet',
             puppetdb_port => 8081,
        }
  class { 'rbenv': }
  rbenv::plugin { [ 'rbenv/rbenv-vars', 'rbenv/ruby-build' ]: }
  rbenv::build { '2.2.3': global => true }
  rbenv::gem { 'librarian-puppet': ruby_version => '2.2.3' }
}

### The tweedle dummy nodes

node 'dum.umdl.umich.edu' {
  class { 'rbenv': }
  rbenv::plugin { [ 'rbenv/rbenv-vars', 'rbenv/ruby-build' ]: }
  rbenv::build { '2.2.3': global => true }
}

node 'dee.umdl.umich.edu' {
  class { 'rbenv': }
  rbenv::plugin { [ 'rbenv/rbenv-vars', 'rbenv/ruby-build' ]: }
  rbenv::build { '2.2.3': global => true }
  rbenv::gem { 'thor': ruby_version => '2.2.3' }
}

