node default {

}

### The puppet server node

node /puppet.*/ {
  class { 'puppetdb': }
  class { 'puppetdb::master::config': 
             puppetdb_server => 'puppet',
             puppetdb_port => 8081,
        }
  class { 'rbenv': }
  rbenv::plugin { [ 'rbenv/rbenv-vars', 'rbenv/ruby-build' ]: }
  rbenv::build { '2.3.1': global => true }
  rbenv::gem { 'librarian-puppet': ruby_version => '2.3.1' }
}

### The tweedle dummy nodes

node /dum.*/ {
  class { 'rbenv': }
  rbenv::plugin { [ 'rbenv/rbenv-vars', 'rbenv/ruby-build' ]: }
  rbenv::build { '2.3.1': global => true }
}

node /dee.*/ {
  class { 'rbenv': }
  rbenv::plugin { [ 'rbenv/rbenv-vars', 'rbenv/ruby-build' ]: }
  rbenv::build { '2.3.1': global => true }
  rbenv::gem { 'thor': ruby_version => '2.3.1' }
}

